.gradle/
build/
out/
bin/
run/
runs/
remappedSrc/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
logs/
*.log
*.hprof
mods/
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath
.DS_Store
Thumbs.db
desktop.ini
